<html>
  <head></head>
  <body>
    <h1>Data Received:</h1>
    <p>Full Path: <%= request.fullpath %></p>
    <p>GET: <%= request.GET %></p>
    <p>POST: <%= request.POST %></p>
    <p>All Params: <%= request.params %></p>

    <form action="/bob?foo=bar" method="post">
      <input type="text" name="txt">
      <input type="submit" value="Save">
    </form>
  </body>
</html>